extends ../_template

block content
  H1 You will burn in hell for this


  .image-block
  h3
  img.classNameIdName(src="./public/Models/Our.jpg" alt="Hentai")

  
  .image-block
  h3
  img.classNameIdName(src="./public/Models/His.jpg" alt="Hentai")

  
  .image-block
  h3
  img.classNameIdName(src="./public/Models/My.jpeg" alt="Hentai")

  
  .image-block
  h3
  img.classNameIdName(src="./public/Models/Yours.jpg" alt="Hentai")